main {
    margin: 0 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    overflow: auto; 
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    align-items: center;
}

.photograph-picture {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px 100px 100px 100px;
    margin-right: 150px;
}

.photograph-presentation {
    margin-left: 50px;
}

.photograph-presentation h1 {
    color: rgba(211, 87, 60, 1);
    font-size: 64px;
    font-weight: 400;
    line-height: 83.33px;
    margin: 0px;
}

.photograph-presentation h3 {
    font-size: 24px;
    color: rgba(144, 28, 28, 1);
}

.photograph-presentation p {
    margin-top: 20px;
    color: rgba(82, 82, 82, 1);
    font-size: 18px;
    font-weight: 400;
}

.filter-title {
    font-weight: 700;
    font-size: 16px;
}

.list-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo, .video {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 100px;
    cursor: pointer;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: 69px auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

#name-photographer {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

#daily-rate {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 376px;
    height: 60px;
    background-color: rgba(219, 136, 118, 1);
    right: 200px;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#daily-rate p {
    font-weight: 500;
}

#modal-light-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
    overflow: auto; 
    margin-left: auto;
    margin-right: auto;

}

.medias {
    display: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#light-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.fa-chevron-left, .fa-chevron-right {
    cursor: pointer;
}

