@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    max-width: 1460px;
    margin-right: auto;
    margin-left: auto;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    width: 200px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer_section article h3 {
    color: rgba(144, 28, 28, 1);
    font-size: 13px;
    font-weight: 400;
}

.imgcover {
    object-fit: cover;
    border-radius: 100px 100px 100px 100px;
}

article h2, h3, p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.tagline {
    font-size: 10px;
    font-weight: 400;
}

.price {
    font-size: 9px;
    color: rgba(117, 117, 117, 1);
}